.companyName {
font-size: 18px;
}

.title {
font-size: 22px;
font-weight: bold;
}

@media (max-width: 750px) { 
.companyName {
font-size: 14px;
    }

.title {
font-size: 16px;
    }

.category_datePosted {
font-size: 12px;
    }
}

.moreInfo {
font-size: 16px;
}

@media (max-width: 750px) { 
.moreInfo {
    font-size: 14px;
    }
}